.containerContacs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.containerContacs div{
    margin-right: 10px;
}

.containerContacs div i {
    font-size: 100px;
}

.containerContacs div i:hover{
    animation: bounce 2s infinite;

}