.containerCard{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
.containerCard .card{
    width: 80%;
    margin-top: 10px;
}

.card-img-top{
    width: 100%;
    height: 100%;
}
.card-title, .card-text{
    color: black;
}
.imgClass{
    width: 100%;
    height: auto;
}